<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <%- include('../layout/_header.ejs')%>

        <%- include('../layout/_sidebar.ejs')%>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <h1 class="title">교관 월별 기준</h1>
                        </div>
                        <div class="col">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">운항계획/실시사항 </a></li>
                                <li class="breadcrumb-item">교관 월별 기준</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content" data-menu="instructor-monthly">
                <div class="container-fluid">
                    <div class="inquery-area">
                        <table class="table table-bordered">
                            <colgroup>
                                <col style="width: 150px">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>기간</th>
                                    <td>
                                        <div class="row row-10  align-items-center">
                                            <div class="col-auto">
                                                <select name="" id="" class="custom-select width-200px">
                                                    <option value="">2021</option>
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                            <div class="col-auto">년</div>
                                            <div class="col-auto">
                                                <select name="" id="" class="custom-select width-90px m-l-20">
                                                    <option value="">12</option>
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                            <div class="col-auto">월</div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btns">
                            <button type="button" class="btn btn-dark min-width-90px">검색</button>
                        </div>
                    </div>

                    <strong  class="font-size-18px">실시 현황 (2021년 10월)</strong>

                    <div class="row justify-content-between align-items-end mb-3">
                        <div class="col-auto">
                            <b>Total : 000</b>,
                            Page 1/3
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-outline-primary mr-1">엑셀다운로드</button>
                            <select class="custom-select w-auto">
                                <option>10</option>
                                <option>30</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                        </div>
                    </div>
                    <div class="main_search_result_list"> <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                        <table class="table table-bordered" id="datatable1">
                            <colgroup>
                                <col style="width:80px">
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="text-center">번호</th>
                                    <th class="text-center">담당교관</th>
                                    <th class="text-center">비행계획<br>(635)</th>
                                    <th class="text-center text-blue">운항<br>(251)</th>
                                    <th class="text-center text-danger">결항<br>(173)</th>
                                    <th class="text-center">실비행시간</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i = 10; i > 0 ; i--){ %>
                                <tr>
                                    <td class="text-center"><%= i %></td>
                                    <td class="text-center">김교관</td>
                                    <td class="text-center">36</td>
                                    <td class="text-center text-blue">18</td>
                                    <td class="text-center text-danger">7</td>
                                    <td class="text-center">24.8</td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>

                    <%- include('../layout/_pagination.ejs')%>
                </div>
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- ./wrapper -->

    <%- include('../layout/_footer.ejs')%>

    <%- include('../layout/_modal.ejs')%>

    <script>
        $(document).ready(function () {
            // $("#modal-training-designation-common").modal("show");
        });
    </script>
</body>

</html>