<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body>

    <div id="wrap">

        <%- include('../layout/_header.ejs')%>

        <div id="container-block">
            <div id="content">

                <div class="visual board">
                    <div class="container">
                        <h1 class="title">지원센터</h1>
                    </div>
                </div>

                <div class="contents">
                    <div class="sub-nav">
                        <div class="subject">
                            <nav class="tab-visual">
                                <ul>
                                    <li><a href="notice_list.html">공지사항</a></li>
                                    <li class="active"><a href="resource_list.html">자료실</a></li>
                                    <li><a href="qna_list.html">1:1문의</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="breadcrumb">
                            <ol>
                                <li><i class="icon-breadcrumb-home"></i></li>
                                <li>지원센터</li>
                                <li>자료실</li>
                            </ol>
                        </div>
                    </div>

                    <div class="detail-wrap">
                        <div class="detail-title">
                            <div class="title">2021년 상반기 현장실습 안내입니다.2021년 상반기 현장실습 안내입니다2021년 상반기 현장실습 안내입니다2021년 상반기 현장실습 안내입니다</div>
                            <ul>
                                <li>2021-10-12</li>
                                <li>작성자 권지희</li>
                                <li>조회 68</li>
                            </ul>
                        </div>
                        <div class="detail-contents">    
                            내용
                            
                        </div>
                        <div class="detail-bottom attach">
                            <dl>
                                <dt>첨부파일</dt>
                                <dd>
                                    <div class="attachments w-100">
                                        <i class="icon-attachments"></i>
                                        <a href="javascript:;">2020년 하반기보수교육안내200921(수정).zip</a>
                                    </div>
                                    <div class="attachments w-100">
                                        <i class="icon-attachments"></i>
                                        <a href="javascript:;">2020년 하반기보수교육안내200921(수정).zip</a>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <div class="detail-bottom">
                            <dl>
                                <dt>
                                    <a href="">이전글</a>
                                </dt>
                                <dd><a href="">2021년 상반기 현장실습 안내2021년 상반기 현장실습 안내2021년 상반기 현장실습 안내2021년 상반기 현장실습 안내</a></dd>
                                <dd class="date">2021-10-10</dd>
                            </dl>
                        </div>
                        <div class="detail-bottom">
                            <dl>
                                <dt>
                                    <a href="">다음글</a>
                                </dt>
                                <dd><a href="">현장실습비 안내</a></dd>
                                <dd class="date">2021-10-10</dd>
                            </dl>
                        </div>
                    </div>

                    <div class="d-flex justify-content-end m-t-30">
                        <button type="button" class="btn btn-primary min-width-120px">목록으로</button>
                    </div>

                </div>
                <!-- contents  -->

            </div>
            <!-- content  -->
        </div>
        <!-- 모달-->
        <%- include('../modal/modal.ejs')%>
        <!-- 공통모달(로그인/ 삭제 관련) -->
        <%- include('../modal/common.ejs')%>

        <%- include('../layout/_footer.ejs')%>

    </div>


    <script>
    </script>

</body>

</html>