<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <%- include('../layout/_header.ejs')%>

        <%- include('../layout/_sidebar.ejs')%>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <h1 class="title">교관관리</h1>
                        </div>
                        <div class="col">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">업무관리</a></li>
                                <li class="breadcrumb-item">교관관리</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content" data-menu="instructor">
                <div class="container-fluid">
                    <div class="box p-3 mb-3">
                        <strong class="font-size-18px">주의사항</strong>
                        <p>※ 등록된 교관만 교관 페이지에 접근 할 수 있습니다. </p>
                    </div>
                    <div class="d-flex justify-content-end m-t-20 mb-5">
                        <a href="" class="btn btn-dark min-width-90px">등록</a>
                    </div>

                    <div class="main_search_result_list"> <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                        <table class="table table-bordered" id="datatable1">
                            <colgroup>
                                <col style="width:50px"> 
                                <col style="width:80px">
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        <div class="custom-control custom-checkbox without-label">
                                            <input type="checkbox" class="custom-control-input" id="checkAll">
                                            <label class="custom-control-label" for="checkAll"><label>
                                        </label></label></div>
                                    </th>
                                    <th class="text-center">번호</th>
                                    <th class="text-center">비행훈련위탁기관</th>
                                    <th class="text-center">아이디</th>
                                    <th class="text-center">교관명</th>
                                    <th class="text-center">부서전화번호</th>
                                    <th class="text-center">휴대폰전화</th>
                                    <th class="text-center">이메일</th>
                                    <th class="text-center">경력</th>
                                    <th class="text-center">근무현황</th>
                                    <th class="text-center">관리</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i = 10; i > 0 ; i--){ %>
                                <tr>
                                    <td class="text-center">
                                        <div class="custom-control custom-checkbox without-label">
                                            <input type="checkbox" class="custom-control-input" id="check<%= i %>">
                                            <label class="custom-control-label" for="check<%= i %>"><label>
                                        </div>
                                    </td>
                                    <td class="text-center"><%= i%></td>
                                    <td class="text-center">가디언즈 항공</td>
                                    <td class="text-center">dalskdfjdk</td>
                                    <td class="text-center">김교관</td>
                                    <td class="text-center">033-1234-9989</td>
                                    <td class="text-center">010-2311-9899</td>
                                    <td class="text-center">adf@naver.com</td>
                                    <td class="text-center">20년 2개월</td>
                                    <td class="text-center">
                                        <a href="insturctor_working.html" class="btn btn-primary btn-sm">보기</button>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#modal-delete">삭제</button>
                                        <a href="instructor_detail.html" class="btn btn-sm btn-dark">관리</a>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>

                    <%- include('../layout/_pagination.ejs')%>
                </div>
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- ./wrapper -->

    <%- include('../layout/_footer.ejs')%>

    <%- include('../layout/_modal.ejs')%>

    <script>
        $(document).ready(function () {
            // $("#modal-training-designation-common").modal("show");
        });
    </script>
</body>

</html>