<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <%- include('../layout/_header.ejs')%>

        <%- include('../layout/_sidebar.ejs')%>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <h1 class="title">안전보고 현황</h1>
                        </div>
                        <div class="col">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">업무관리</a></li>
                                <li class="breadcrumb-item">안전보고 현황</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content" data-menu="safety">
                <div class="container-fluid">
                    <div class="row justify-content-between align-items-end">
                        <div class="col-auto">
                            <h3 class="table-title">안전보고 내용</h3>
                        </div>
                        <div class="col-auto pb-2">

                        </div>
                    </div>
                    <table class="table table-bordered table-fixed">
                        <colgroup>
                            <col style="width:150px">
                            <col>
                            <col style="width:150px">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>이름</th>
                                <td>김학생</td>
                                <th>학번/연번</th>
                                <td>202100001</td>
                            </tr>
                            <tr>
                                <th>휴대전화</th>
                                <td>010-1234-1234</td>
                                <th>문의일</th>
                                <td>2021.08.12 15:01</td>
                            </tr>
                            <tr>
                                <th>이메일</th>
                                <td>aaa@gmail.com</td>
                                <th>답변상태</th>
                                <td>검토 중</td>
                            </tr>
                            <tr>
                                <th>제목</th>
                                <td colspan="3">2021년 10월 15일 비행기 이륙시 고장으로 출발을 하지못했습니다. </td>
                            </tr>
                            <tr>
                                <th>내용</th>
                                <td colspan="3">강릉공항 출발하는 비행기 이륙시 고장으로 출발을 하지 못하였습니다.</td>
                            </tr>
                            <tr>
                                <th>파일첨부</th>
                                <td colspan="3">
                                    <a href="javascript:void(0);" class="d-block">xxxxxxxxxxx.pdf</a>
                                    <a href="javascript:void(0);" class="d-block">xxxxxxxxxxx.pdf</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h3 class="table-title">접수 상태
                    </h3>
                    <table class="table table-bordered table-fixed">
                        <colgroup>
                            <col style="width:150px">
                            <col>
                            <col style="width:150px">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>답변 상태</th>
                                <td>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input class="custom-control-input" type="radio" id="customRadio3">
                                        <label for="customRadio3" class="custom-control-label">접수 대기</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input class="custom-control-input" type="radio" id="customRadio3">
                                        <label for="customRadio3" class="custom-control-label">접수완료</label>
                                    </div>
                                </td>
                                <th>접수 구분</th>
                                <td>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input class="custom-control-input" type="radio" id="customRadio3">
                                        <label for="customRadio3" class="custom-control-label">의무보고</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input class="custom-control-input" type="radio" id="customRadio3">
                                        <label for="customRadio3" class="custom-control-label">자율보고</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input class="custom-control-input" type="radio" id="customRadio3">
                                        <label for="customRadio3" class="custom-control-label">내부보고</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>업무 메모</th>
                                <td colspan="3">
                                    <textarea name="" id="" cols="30" rows="5" class="form-control">안전보고에 대하여 접수대상자에 대하여 확인함
                                    </textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center mt-3">
                        <button class="btn btn-primary min-width-90px">저장</button>
                        <button class="btn btn-secondary min-width-90px m-l-10">취소</button>
                    </div>
                </div>
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- ./wrapper -->

    <%- include('../layout/_footer.ejs')%>

    <%- include('../layout/_modal.ejs')%>

    <script>
        $(document).ready(function () {
        });
    </script>
</body>

</html>