<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <%- include('../layout/_header.ejs')%>

        <%- include('../layout/_sidebar.ejs')%>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <h1 class="title">전문교육학과시간관리</h1>
                        </div>
                        <div class="col">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">전문교육학과관리</a></li>
                                <li class="breadcrumb-item">전문교육학과시간관리</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content" data-menu="faculty">
                <div class="container-fluid">
                    <div class="inquery-area">
                        <table class="table table-bordered">
                            <tbody>
                                <colgroup>
                                    <col style="width: 150px">
                                    <col>
                                    <col style="width: 150px">
                                    <col>
                                    <col style="width: 150px">
                                    <col>
                                </colgroup>
                                <tr>
                                    <th>연도 선택</th>
                                    <td>
                                        <select name="" id="" class="custom-select">
                                            <option value="">연도 선택</option>
                                        </select>
                                    </td>
                                    <th>학년 선택</th>
                                    <td>
                                        <select name="" id="" class="custom-select">
                                            <option value="">전체</option>
                                        </select>
                                    </td>
                                    <th>학기 선택</th>
                                    <td>
                                        <select name="" id="" class="custom-select">
                                            <option value="">전체</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>검색</th>
                                    <td colspan="5">
                                        <input type="text" class="form-control" placeholder="이름, 학번, 휴대폰번호 입력">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btns">
                            <button type="button" class="btn btn-dark min-width-90px">검색</button>
                        </div>
                    </div>

                    <div class="row justify-content-between align-items-end mb-3">
                        <div class="col-auto">
                            <b>Total : 000</b>,
                            Page 1/3
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-outline-primary mr-1">엑셀다운로드</button>
                            <select class="custom-select w-auto">
                                <option>10</option>
                                <option>30</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                        </div>
                    </div>
                    <div class="main_search_result_list"> <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                        <table class="table table-bordered" id="datatable1">
                            <colgroup>
                                <col style="width:80px">
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="text-center">번호</th>
                                    <th class="text-center">학년</th>
                                    <th class="text-center">학기</th>
                                    <th class="text-center">학번</th>
                                    <th class="text-center">이름</th>
                                    <th class="text-center">생년월일</th>
                                    <th class="text-center">성별</th>
                                    <th class="text-center">자가용 조종사 과정</th>
                                    <th class="text-center">계기비행증명 과정</th>
                                    <th class="text-center">사업용조종사 과정</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i = 3; i > 0 ; i--){ %>
                                <tr>
                                    <td class="text-center"><%= i %></td>
                                    <td class="text-center">4학년</td>
                                    <td class="text-center">2학기</td>
                                    <td class="text-center"><a href="../student/student_detail.html" class="text-underline">9819155</a></td>
                                    <td class="text-center">김학생</td>
                                    <td class="text-center">1999.02.02</td>
                                    <td class="text-center">여</td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-primary btn-sm" data-target="#modal-ppl-grade" data-toggle="modal">성적 등록</button>
                                        <button type="button" class="btn btn-outline-dark btn-sm" data-target="#modal-ppl-score" data-toggle="modal">점수 보기</button>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-primary btn-sm" data-target="#modal-ir-grade" data-toggle="modal">성적 등록</button>
                                        <button type="button" class="btn btn-outline-dark btn-sm" data-target="#modal-ir-score" data-toggle="modal">점수 보기</button>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-primary btn-sm" data-target="#modal-cpl-grade" data-toggle="modal">성적 등록</button>
                                        <button type="button" class="btn btn-outline-dark btn-sm" data-target="#modal-cpl-score" data-toggle="modal">점수 보기</button>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>

                    <%- include('../layout/_pagination.ejs')%>
                </div>
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- ./wrapper -->

    <%- include('../layout/_footer.ejs')%>

    <%- include('../layout/_modal.ejs')%>

    <script>
        $(document).ready(function () {
            // $("#modal-cpl-score").modal("show");
        });
    </script>
</body>

</html>