<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <%- include('../layout/_header.ejs')%>

        <%- include('../layout/_sidebar.ejs')%>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <h1 class="title">학사정보 가져오기</h1>
                        </div>
                        <div class="col">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">시스템관리</a></li>
                                <li class="breadcrumb-item">학사정보 가져오기</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content" data-menu="academic">
                <div class="container-fluid">
                    <div class="inquery-area">
                        <table class="table table-bordered">
                            <tbody>
                                <colgroup>
                                    <col style="width: 150px">
                                    <col>
                                    <col style="width: 150px">
                                    <col>
                                    <col style="width: 150px">
                                    <col>
                                </colgroup>
                                <tr>
                                    <th>연도 선택</th>
                                    <td>
                                        <select name="" id="" class="custom-select">
                                            <option value="">연도 선택</option>
                                        </select>
                                    </td>
                                    <th>학년 선택</th>
                                    <td>
                                        <select name="" id="" class="custom-select">
                                            <option value="">전체</option>
                                        </select>
                                    </td>
                                    <th>학기 선택</th>
                                    <td>
                                        <select name="" id="" class="custom-select">
                                            <option value="">전체</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btns">
                            <button type="button" class="btn btn-danger min-width-90px">학사정보 가져오기</button>
                        </div>
                    </div>

                    <div class="row justify-content-between align-items-end mb-3">
                        <div class="col-auto">
                            <b>Total : 000</b>,
                            Page 1/3
                        </div>
                        <div class="col-auto">
                            <a href="insider_form.html" class="btn btn-outline-primary mr-1">엑셀다운로드</a>
                            <select class="custom-select w-auto">
                                <option>10</option>
                                <option>30</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                        </div>
                    </div>

                    <div class="main_search_result_list"> <!-- softpuzzle에서 쓰는 datatable 고정 클래스명 -->
                        <table class="table table-bordered" id="datatable1">
                            <colgroup>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="text-center">번호</th>
                                    <th class="text-center">연도</th>
                                    <th class="text-center">학기</th>
                                    <th class="text-center">등록일</th>
                                    <th class="text-center">성공여부</th>
                                    <th class="text-center">업데이트</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i = 3; i > 0 ; i--){ %>
                                <tr>
                                    <td class="text-center"><%= i %></td>
                                    <td class="text-center">2021년</td>
                                    <td class="text-center"><a href="" class="text-underline">2학기</a></td>
                                    <td class="text-center">2021-09-01</td>
                                    <td class="text-center">성공</td>
                                    <td class="text-center"><a href="" class="text-underline">실행</a></td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>

                    <%- include('../layout/_pagination.ejs')%>
                </div>
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- ./wrapper -->

    <%- include('../layout/_footer.ejs')%>

    <%- include('../layout/_modal.ejs')%>

    <script>
        $(document).ready(function () {
        });
    </script>
</body>

</html>