<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <%- include('../layout/_header.ejs')%>

        <%- include('../layout/_sidebar.ejs')%>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <h1 class="title">비밀번호변경</h1>
                        </div>
                        <div class="col">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">시스템관리</a></li>
                                <li class="breadcrumb-item">비밀번호변경</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content" data-menu="password">
                <div class="container-fluid">
                    <h3 class="table-title">안전한 계정관리를 위해 비밀번호를 정기적으로 변경해 주시기 바랍니다.</h3>
                    <table class="table table-bordered">
                        <colgroup>
                            <col style="width:150px">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>성명</th>
                                <td colspan="3">
                                    홍길동
                                </td>
                            </tr>
                            <tr>
                                <th>이메일(ID) <strong class="text-danger">*</strong></th>
                                <td>
                                    aaabbbccc@gmail.com
                                </td>
                            </tr>
                            <tr>
                                <th>비밀번호 <strong class="text-danger">*</strong></th>
                                <td>
                                    <div class="row row-10 align-items-center">
                                        <div class="col-auto">
                                            <input type="password" class="form-control">
                                        </div>
                                        <div class="col">
                                            <p class="form-text">띄어쓰기 없는 비밀번호는 영문, 숫자, 특수문자 포함 10자리 이상 20자리 미만 가능</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>비밀번호 확인 <strong class="text-danger">*</strong></th>
                                <td>
                                    <div class="row row-10 align-items-center">
                                        <div class="col-auto">
                                            <input type="password" class="form-control">
                                        </div>
                                        <div class="col">
                                            <p class="form-text">비밀번호를 동일하게 재 입력하여 주십시오.</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row row-10 justify-content-center mt-3">
                        <div class="col-auto">
                            <button type="button" class="btn btn-secondary min-width-90px" onclick="history.back();">취소</button>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-primary min-width-90px" data-toggle="modal" data-target="#modal-password-changed">저장</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- ./wrapper -->

    <%- include('../layout/_footer.ejs')%>

    <%- include('../layout/_modal.ejs')%>

    <script>
        $(document).ready(function () {
        });
    </script>
</body>

</html>