<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <%- include('../layout/_header.ejs')%>

        <%- include('../layout/_sidebar.ejs')%>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <h1 class="title">비행종합정보</h1>
                        </div>
                        <div class="col">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">비행훈련관리</a></li>
                                <li class="breadcrumb-item">비행종합정보</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content" data-menu="flight">
                <div class="container-fluid">
                    <div class="row justify-content-between align-items-end">
                        <div class="col-auto">
                            <h3 class="table-title">기본 정보</h3>
                        </div>
                        <div class="col-auto pb-2">

                        </div>
                    </div>
                    <table class="table table-bordered table-fixed">
                        <colgroup>
                            <col style="width:240px">
                            <col>
                            <col style="width:240px">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>비행예정일</th>
                                <td colspan="3">
                                    <strong>
                                        2021-09-21 15:00 ∼ 17:30
                                        <span class="text-danger">(2.5H)</span>
                                    </strong>
                                </td>
                            </tr>
                            <tr>
                                <th>학생</th>
                                <td>김학생(9705245)</td>
                                <th>학년</th>
                                <td>3학년</td>
                            </tr>
                            <tr>
                                <th>교관</th>
                                <td>최교관</td>
                                <th>비행구분</th>
                                <td>시계LCL</td>
                            </tr>
                            <tr>
                                <th>항공기명</th>
                                <td>HL1156</td>
                                <th>항공기종</th>
                                <td>세스나 172S 싱글</td>
                            </tr>
                            <tr>
                                <th>출발공항 </th>
                                <td>RKJB</td>
                                <th>도착항공</th>
                                <td>RKJY</td>
                            </tr>
                        </tbody>
                    </table>
                    <h3 class="table-title">비행 정보</h3>
                    <table class="table table-bordered table-fixed">
                        <colgroup>
                            <col style="width:120px">
                            <col style="width:120px">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th class="text-center" colspan="2">운항</th>
                                <td>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input class="custom-control-input" type="radio" id="customRadio1" name="customRadio">
                                        <label for="customRadio1" class="custom-control-label">운항</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input class="custom-control-input" type="radio" id="customRadio1" name="customRadio">
                                        <label for="customRadio1" class="custom-control-label">결항(고장)</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input class="custom-control-input" type="radio" id="customRadio1" name="customRadio">
                                        <label for="customRadio1" class="custom-control-label">결항(정비)</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input class="custom-control-input" type="radio" id="customRadio1" name="customRadio">
                                        <label for="customRadio1" class="custom-control-label">결항(노탐)</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input class="custom-control-input" type="radio" id="customRadio1" name="customRadio">
                                        <label for="customRadio1" class="custom-control-label">결항(날씨)</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input class="custom-control-input" type="radio" id="customRadio1" name="customRadio">
                                        <label for="customRadio1" class="custom-control-label">결항(기타)</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center" colspan="2">비행시간</th>
                                <td>
                                    <div class="row align-items-center">
                                        <div class="col-auto"><input type="text" class="form-control width-60px" value=""></div>
                                        <div class="col-auto">시간</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center" rowspan="2">CATEGORY <br> AND CLASS</th>
                                <th class="text-center">단발</th>
                                <td>
                                    <div class="row align-items-center">
                                        <div class="col-auto"><input type="text" class="form-control width-60px" value=""></div>
                                        <div class="col-auto">시간</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center">다발</th>
                                <td>
                                    <div class="row align-items-center">
                                        <div class="col-auto"><input type="text" class="form-control width-60px" value=""></div>
                                        <div class="col-auto">시간</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center" colspan="2">세부사항</th>
                                <td>
                                    <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center" rowspan="5">비행조건</th>
                                <th class="text-center">실계기시간</th>
                                <td>
                                    <div class="row align-items-center">
                                        <div class="col-auto"><input type="text" class="form-control width-60px" value=""></div>
                                        <div class="col-auto">시간</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center">후드시간</th>
                                <td>
                                    <div class="row align-items-center">
                                        <div class="col-auto"><input type="text" class="form-control width-60px" value=""></div>
                                        <div class="col-auto">시간</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center">야간</th>
                                <td>
                                    <div class="row align-items-center">
                                        <div class="col-auto"><input type="text" class="form-control width-60px" value=""></div>
                                        <div class="col-auto">시간</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center">APP NO.</th>
                                <td>
                                    <div class="row align-items-center">
                                        <div class="col-auto"><input type="text" class="form-control width-60px" value=""></div>
                                        <div class="col-auto"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center">APP TYPE</th>
                                <td>
                                    <div class="row align-items-center">
                                        <div class="col-auto"><input type="text" class="form-control width-60px" value=""></div>
                                        <div class="col-auto"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center" colspan="2">모의비행시간(S/N)</th>
                                <td>
                                    <div class="row align-items-center">
                                        <div class="col-auto"><input type="text" class="form-control width-60px" value=""></div>
                                        <div class="col-auto">시간</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center" rowspan="4">자격별<br>비행시간</th>
                                <th class="text-center">야외 비행</th>
                                <td>
                                    <div class="row align-items-center">
                                        <div class="col-auto"><input type="text" class="form-control width-60px" value=""></div>
                                        <div class="col-auto">시간</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center">기장 시간</th>
                                <td>
                                    <div class="row align-items-center">
                                        <div class="col-auto"><input type="text" class="form-control width-60px" value=""></div>
                                        <div class="col-auto">시간</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center">DUAL 시간</th>
                                <td>
                                    <div class="row align-items-center">
                                        <div class="col-auto"><input type="text" class="form-control width-60px" value=""></div>
                                        <div class="col-auto">시간</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center">교관시간(회)</th>
                                <td>
                                    <div class="row align-items-center">
                                        <div class="col-auto"><input type="text" class="form-control width-60px" value=""></div>
                                        <div class="col-auto">회</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center" rowspan="2">LANDING</th>
                                <th class="text-center">주간(회)</th>
                                <td>
                                    <div class="row align-items-center">
                                        <div class="col-auto"><input type="text" class="form-control width-60px" value=""></div>
                                        <div class="col-auto">회</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center">야간(회)</th>
                                <td>
                                    <div class="row align-items-center">
                                        <div class="col-auto"><input type="text" class="form-control width-60px" value=""></div>
                                        <div class="col-auto">회</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center" colspan="2">교관의견</th>
                                <td>
                                    <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center" colspan="2">총비행시간(학생)
                                </th>
                                <td>
                                    159.8
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-primary min-width-90px">저장</button>
                        <button type="button" class="btn btn-secondary min-width-90px m-l-10">취소</button>
                    </div>
                </div>
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- ./wrapper -->

    <%- include('../layout/_footer.ejs')%>

    <%- include('../layout/_modal.ejs')%>

    <script>
        $(document).ready(function () {});
    </script>
</body>

</html>