<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body>

    <div id="wrap">

        <%- include('../layout/_header.ejs')%>

        <div id="container-block">
            <div id="content">

                <div class="visual flight-4">
                    <div class="container">
                        <h1 class="title">비행스케줄</h1>
                    </div>
                </div>

                <div class="contents">
                    <div class="sub-nav">
                        <div class="subject">
                            <nav class="tab-visual">
                                <ul>
                                    <li><a href="my_schedule_list.html">나의 스케줄</a></li>
                                    <li class="active"><a href="total_schedule_list.html">전체 스케줄</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="breadcrumb">
                            <ol>
                                <li><i class="icon-breadcrumb-home"></i></li>
                                <li>비행스케줄</li>
                                <li>전체 스케줄</li>
                            </ol>
                        </div>
                    </div>

                    <div class="inquery-area">
                        <table class="table table-bordered">
                            <colgroup>
                                <col style="width:150px">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>기간</th>
                                    <td>
                                        <div class="row row-15 align-items-center">
                                            <div class="col-auto">
                                                <select name="" id="" class="form-control width-120px">
                                                    <option value="">2021</option>
                                                    <option value="">20</option>
                                                </select>
                                            </div>
                                            <div class="col-auto">
                                                년
                                            </div>
                                            <div class="col-auto">
                                                <select name="" id="" class="form-control width-90px">
                                                    <option value="">10</option>
                                                    <option value="">20</option>
                                                </select>
                                            </div>
                                            <div class="col-auto">
                                                월
                                            </div>
                                            <div class="col-auto">
                                                <select name="" id="" class="form-control width-90px">
                                                    <option value="">10</option>
                                                    <option value="">20</option>
                                                </select>
                                            </div>
                                            <div class="col-auto">
                                                일
                                            </div>
                                            <div class="col-auto m-l-20">
                                                <div class="date-btn">
                                                    <button type="button" class="btn btn-outline-light prev">
                                                        <span class="sr-only">이번달</span>
                                                    </button>
                                                    <button type="button" class="btn btn-outline-light next">
                                                        <span class="sr-only">다음달</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btns">
                            <button class="btn btn-primary">검색</button>
                        </div>
                    </div>

                    <div class="list-title-wrap">
                        <div>
                            <i class="icon-list-title"></i>
                            <p class="title">2021년 10월 10일 비행스케줄</p>
                        </div>
                        <div>
                            <button type="button" class="btn btn-outline-light width-140px">엑셀다운로드<i class="icon-excel m-l-10"></i></button>
                            <select name="" id="" class="form-control width-90px">
                                <option value="">50</option>
                            </select>
                        </div>
                    </div>

                    <!-- 캘린더 영역 { -->
                    <div id='calendar'></div>
                    <!-- }-->

                </div>

            </div>
        </div>
        <!-- 모달-->
        <%- include('../modal/modal.ejs')%>
        <!-- 공통모달(로그인/ 삭제 관련) -->
        <%- include('../modal/common.ejs')%>

        <%- include('../layout/_footer.ejs')%>

    </div>


    <script>
        $(document).ready(function () {
            $(function () {
                // calendar element 취득
                var calendarEl = $('#calendar')[0];
                // full-calendar 생성하기
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    height: '700px', // calendar 높이 설정
                    expandRows: true, // 화면에 맞게 높이 재설정
                    slotMinTime: '06:00', // Day 캘린더에서 시작 시간
                    slotMaxTime: '24:00', // Day 캘린더에서 종료 시간
                    // 해더에 표시할 툴바
                    headerToolbar: {
                        left: '',
                        center: '',
                        right: ''
                    },
                    initialView: 'timeGridDay', // 초기 로드 될때 보이는 캘린더 화면(기본 설정: 달)
                    //initialDate: '', // 초기 날짜 설정 (설정하지 않으면 오늘 날짜가 보인다.)
                    navLinks: true, // 날짜를 선택하면 Day 캘린더나 Week 캘린더로 링크
                    editable: true, // 수정 가능?
                    selectable: true, // 달력 일자 드래그 설정가능
                    nowIndicator: true, // 현재 시간 마크
                    dayMaxEvents: true, // 이벤트가 오버되면 높이 제한 (+ 몇 개식으로 표현)
                    locale: 'ko', // 한국어 설정
                    eventAdd: function (obj) { // 이벤트가 추가되면 발생하는 이벤트
                        console.log(obj);
                    },
                    eventChange: function (obj) { // 이벤트가 수정되면 발생하는 이벤트
                        console.log(obj);
                    },
                    eventRemove: function (obj) { // 이벤트가 삭제되면 발생하는 이벤트
                        console.log(obj);
                    },
                    select: function (arg) { // 캘린더에서 드래그로 이벤트를 생성할 수 있다.
                        var title = prompt('Event Title:');
                        if (title) {
                            calendar.addEvent({
                                title: title,
                                start: arg.start,
                                end: arg.end,
                                allDay: arg.allDay
                            })
                        }
                        calendar.unselect()
                    },
                    // 이벤트
                    events: [{
                        title: 'All Day Event',
                        start: '2021-12-01',
                    }]
                });
                // 캘린더 랜더링
                calendar.render();
            });
        });

    </script>

</body>

</html>