<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body>

    <div id="wrap">

        <%- include('../layout/_header.ejs')%>

        <div id="container-block">
            <div id="content">

                <div class="visual personal">
                    <div class="container">
                        <h1 class="title">나의 정보</h1>
                    </div>
                </div>

                <div class="contents">
                    <div class="sub-nav">
                        <div class="subject">나의 정보</div>
                        <div class="breadcrumb">
                            <ol>
                                <li><i class="icon-breadcrumb-home"></i></li>
                                <li>나의 정보</li>
                            </ol>
                        </div>
                    </div>

                    <!-- 학생 -->
                    <div>
                        <p class="font-weight-semibold font-18px d-flex align-items-center">
                            <i class="icon-info-black m-r-10"></i>
                            회원님의 개인정보를 수정해주세요!
                        </p>
                        <p class="text-gray5">※ 개인정보가 정확하지 않아 발생하는 불이익은 회원 본인의 과실로 인정되오니, 이 점 참고하시어 최신정보로 수정하여 주시기 바랍니다.</p>
                    </div>


                    <!-- 교관 -->
                    <div>
                        <p class="font-weight-semibold font-18px d-flex align-items-center">
                            <i class="icon-info-black m-r-10"></i>
                            교관님의 개인정보를 수정해주세요!
                        </p>
                        <p class="text-gray5">※ 개인정보가 정확하지 않아 발생하는 불이익은 교관 본인의 과실로 인정되오니, 이 점 참고하시어 최신정보로 수정하여 주시기 바랍니다.</p>
                    </div>


                    <div class="table-title table-top-info">학생정보<strong>*필수</strong></div>
                    <div class="table-title table-top-info">교관정보<strong>*필수</strong></div>
                    <table class="table table-bordered table-fixed">
                        <colgroup>
                            <col style="width:230px">
                            <col>
                            <col style="width:230px">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <!-- 학생{ -->
                                <th>학번(아이디)<strong class="text-danger">*</strong></th>
                                <td>201901000</td>
                                <!-- } -->

                                <!-- 교관{ -->
                                <!-- <th>교관번호<strong class="text-danger">*</strong></th>
                                <td>201901000</td> -->
                                <!-- } -->

                                <th rowspan="3">사진</th>
                                <td rowspan="3">
                                    <div class="row row-10 align-items-end">
                                        <div class="col-auto">
                                            <div class="profile-thumb">
                                                <span style="display:none;">NO IMAGE</span>
                                                <img src="../../assets/images/@landscape.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <!-- 삭제 -->
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"  name="mb_mailling" id="reg_mb_mailling">
                                                <label class="custom-control-label" for="reg_mb_mailling">삭제</label>
                                            </div>
                                        </div>
                                        <div class="col-auto m-l-20">
                                            <!-- 파일 업로드 -->
                                            <div class="d-inline-flex">
                                                <div class="custom-file-img">
                                                    <input type="file" name="" accept="image/*" id="profile-img">
                                                    <label class="btn btn-outline-primary btn-sm m-0 btn-sm-round" for="profile-img" lang="ko">파일 업로드</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <th>이름<strong class="text-danger">*</strong></th>
                                <td>홍길동</td>
                            </tr>
                            <tr>
                                <th>생년월일<strong class="text-danger">*</strong></th>
                                <td>19940707</td>
                            </tr>

                            <tr>
                                <th>비밀번호<strong class="text-danger">*</strong></th>
                                <td>
                                    <div class="row row-10">
                                        <div class="col-12"><input type="password" class="form-control width-240px"></div>
                                        <div class="col-12">
                                            <span class="form-text text-danger">
                                                8~12자 영문, 숫자, 특수문자(~`!@#$%^&amp;*()-) 포함 사용</span>
                                        </div>
                                    </div>
                                </td>
                                <th>비밀번호 확인<strong class="text-danger">*</strong></th>
                                <td>
                                    <div class="row row-10">
                                        <div class="col-12"><input type="password" class="form-control width-240px"></div>
                                        <div class="col-12">
                                            <span class="form-text text-danger">
                                                비밀번호 변경시 입력하세요.
                                            </span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>이메일<strong class="text-danger">*</strong></th>
                                <td colspan="3">
                                    <div class="row row-10 align-items-center">
                                        <div class="col-auto"><input type="text" class="form-control width-200px"></div>
                                        <div class="col-auto">@</div>
                                        <div class="col-auto"><input type="text" class="form-control width-200px"></div>
                                        <div class="col-auto">
                                            <select name="" id="" class="form-control width-240px">
                                                <option value="">직접입력</option>
                                                <option value="">20</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>자택 연락처</th>
                                <td colspan="3">
                                    <div class="row row-10 align-items-center">
                                        <div class="col-auto">
                                            <select name="" id="" class="form-control min-width-120px">
                                                <option value="">02</option>
                                            </select>
                                        </div>
                                        <div class="col-auto"><input type="number" class="form-control min-width-240px"></div>
                                        <div class="col-auto"><input type="number" class="form-control min-width-240px"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>휴대전화 번호<strong class="text-danger">*</strong></th>
                                <td colspan="3">
                                    <div class="row row-10 align-items-center">
                                        <div class="col-auto">
                                            <select name="" id="" class="form-control min-width-120px">
                                                <option value="">010</option>
                                            </select>
                                        </div>
                                        <div class="col-auto"><input type="number" class="form-control min-width-240px"></div>
                                        <div class="col-auto"><input type="number" class="form-control min-width-240px"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>주소</th>
                                <td colspan="3">
                                    <div class="row row-10 align-items-center">
                                        <div class="col-auto">
                                            <input type="text" name="" value="" id="" class="form-control min-width-370px">
                                        </div>
                                        <div class="col-auto">
                                            <input type="text" name="" value="" id="" class="form-control min-width-370px">
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-sm-round btn-gray5" onclick="">주소 검색</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                    <!-- 학생 { -->
                    <div class="table-title table-top-info m-t-50">부가정보</div>
                    <table class="table table-bordered table-fixed">
                        <colgroup>
                            <col style="width:230px">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>소속반</th>
                                <td>2반</td>
                            </tr>
                            <tr>
                                <th>최근 신체검사일</th>
                                <td>2021년 3월 26일 (남은 검사일  105일)</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- } -->

                    <!-- 교관 { -->
                    <div class="table-title table-top-info m-t-50 d-flex justify-content-between align-items-center">
                        <div>자격정보</div> <button type="button" class="btn btn-primary">항목 추가</button>
                    </div>
                    <table class="table table-bordered table-fixed">
                        <colgroup>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col style="width:120px;">
                            <col style="width:80px;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>자격증명</th>
                                <th>자격증번호</th>
                                <th>발급처</th>
                                <th>취득일</th>
                                <th>첨부</th>
                                <th>관리</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td class="text-center">
                                    <div class="custom-file-img m-0">
                                        <input type="file" name="" accept="image/*" id="profile-img">
                                        <label class="btn btn-outline-primary m-0" for="profile-img" lang="ko">파일 첨부</label>
                                    </div>
                                    <!-- <button type="button" class="btn btn-dark">첨부 완료</button> -->
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-gray5" data-toggle="modal" data-target="#modal-cancel">삭제</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="table-title table-top-info m-t-50 d-flex justify-content-between align-items-center">
                        <div>경력정보</div> <button type="button" class="btn btn-primary">항목 추가</button>
                    </div>
                    <table class="table table-bordered">
                        <colgroup>
                            <col style="width:380px">
                            <col>
                            <col style="width:140px">
                            <col>
                            <col style="width:80px;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>경력 기간
                                </th>
                                <th>근무처</th>
                                <th>직급</th>
                                <th>업무내용</th>
                                <th>관리</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="row row-20 align-items-center justify-content-center">
                                        <div class="col-auto">
                                            <input type="text" readonly="" class="form-control form-datepicker" placeholder="0000-00-00">
                                        </div>
                                        <div class="col-auto">~</div>
                                        <div class="col-auto">
                                            <input type="text" readonly="" class="form-control form-datepicker" placeholder="0000-00-00">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-gray5" data-toggle="modal" data-target="#modal-cancel">삭제</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- } -->

                    <div class="d-flex justify-content-end align-items-center m-t-60">
                        <button type="button" class="btn btn-primary btn-lg width-120px">저장</button>
                        <button type="button" class="btn btn-secondary btn-lg width-120px m-l-10">취소</button>
                    </div>

                </div>
                <!-- contents -->

            </div>
        </div>
        <!-- 모달-->
        <%- include('../modal/modal.ejs')%>
        <!-- 공통모달(로그인/ 삭제 관련) -->
        <%- include('../modal/common.ejs')%>

        <%- include('../layout/_footer.ejs')%>

    </div>


    <script>
        // $("#modal-cancel").modal("show");
    </script>

</body>

</html>